* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #46626F;
    background-color: #f3f3f3;
    /*text-align:center;*/
    /*margin:0px auto;*/
}

form {
    border: 2px solid #AAAAAA;
    border-radius: 15px;
    padding: 3px 6px 3px 6px;
    margin: 5px;
    font: 14px Arial;
}

input {
    color: #00008B;
    background-color: #ADD8E6;
    border: 1px solid #00008B;
    border-radius: 5px;
}

select {
    width: 80px;
    color: #00008B;
    background-color: #ADD8E6;
    border: 1px solid #00008B;
    border-radius: 2px;
}

textarea {
    width: 200px;
    hegiht: 40px;
    color: #00008B;
    background-color: #ADD8E6;
    border: 1px solid #00008B;
    border-radius: 5px;
}

input.txt {
    border: 1px inset #00008B;
    background-color: #ADD8E6;
}

input.btn {
    color: #00008B;
    background-color: #ADD8E6;
    border: 1px outset #00008B;
    padding: 1px 2px 1px 2px;
    margin: 10px;
}

p {
    margin: 10px 5px;
    padding: 5px;
}

a {
    font-family: Arial;
    text-align: center;
    margin: 1px;
}

a:link, a:visited {

    color: #46626F;
    /*padding: 4px 10px 4px 10px;*/
    /*background-color: #f2f8ff;*/
    text-decoration: none;
    /*border-top: 1px solid #EEEEEE;*/
    /*border-left: 1px solid #EEEEEE;*/
    /*border-bottom: 1px solid #717171;*/
    /*border-right: 1px solid #717171;*/
}

a:hover {

    color: #ff5a5a;
    padding: 5px 8px 3px 12px;
    background-color: #fff9fc;
    border-top: 1px solid #717171;
    border-left: 1px solid #717171;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

div#container {
    margin: 0px auto;
    /*line-height:150%;*/
}

div#header, div#footer {
    padding: 0.5em;
    color: white;
    background-color: #99bbbb;
    clear: left;
    text-align: center
}

#content {
    /*width:100%;*/
    /*text-align-all:center;*/
    line-height: 150%;
    margin: auto;

}

h1.header {
    padding: 0;
}
